aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.6.0
anyio==4.10.0
async-timeout==4.0.3
attrs==25.4.0
blinker==1.9.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.2.1
cryptography==46.0.3
dashscope==1.25.1
dataclasses-json==0.6.7
distro==1.9.0
exceptiongroup==1.3.0
fastapi==0.123.0
Flask==3.1.2
flask-cors==6.0.1
frozenlist==1.8.0
grpcio==1.76.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.12.0
jsonpatch==1.33
jsonpath-ng==1.8.0
jsonpointer==3.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.9.1
langchain==1.0.7
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.0.5
langchain-mcp-adapters==0.1.14
langchain-milvus==0.3.3
langchain-text-splitters==1.0.0
langgraph==1.0.3
langgraph-checkpoint==3.0.1
langgraph-checkpoint-postgres==3.0.5
langgraph-checkpoint-redis==0.3.6
langgraph-prebuilt==1.0.4
langgraph-sdk==0.2.9
langgraph-supervisor==0.0.31
langsmith==0.4.43
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
mcp==1.12.1
mdurl==0.1.2
ml_dtypes==0.5.4
multidict==6.7.0
mypy_extensions==1.1.0
numpy==2.2.6
openai==2.8.1
orjson==3.11.7
ormsgpack==1.12.0
packaging==25.0
pandas==2.3.3
# pip==25.2
propcache==0.4.1
protobuf==6.33.1
psycopg==3.3.3
psycopg-binary==3.3.3
psycopg-pool==3.3.0
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
pydantic-settings==2.12.0
Pygments==2.19.2
pymilvus==2.6.4
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
python-ulid==3.1.0
pytz==2025.2
PyYAML==6.0.3
redis==7.3.0
redisvl==0.16.0
referencing==0.37.0
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.2.0
rpds-py==0.28.0
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.44
sse-starlette==2.2.1
starlette==0.47.3
tenacity==9.1.2
tomli==2.4.0
tqdm==4.67.1
typing_extensions==4.15.0
typing-inspect==0.9.0
typing-inspection==0.4.2
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.35.0
websocket-client==1.9.0
Werkzeug==3.1.4
wheel==0.45.1
xxhash==3.6.0
yarl==1.22.0
zstandard==0.25.0
